<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="../assets/css/style.css">
        <title>Transaction Date API</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="wrapper">
                <div class="logo">
                    <a href="../index.html">
                        <img src="../assets/images/Easebuzz_Logo_ White_Text.svg" alt="Easebuzz">
                    </a>
                </div>
                <div class="hedding">
                    <h2><a class="highlight" href="../index.html">Back</a></h2>
                </div>
            </header>
        </div>
        
        <div class="form-container">
                <h2><a href="https://docs.easebuzz.in/docs/payment-gateway/xl5wyz91ugbpg-transaction-api-by-date-range"
                    target="_blank" style="color:#000;text-decoration:none;"
                    onmouseover="this.style.textDecoration='underline'"
                    onmouseout="this.style.textDecoration='none'">TRANSACTION DATE API &#x2197;</a></h2>
            <hr>
            <form method="POST" action="../easebuzz.php?api_name=transaction_date">
                <div class="main-form">
                    <h3>Mandatory Parameters</h3>
                    <hr>
                    <div class="mandatory-data">
                        <div class="form-field">
                            <label for="merchant_email">Merchant Email ID<sup>*</sup></label>
                            <input id="merchant_email" name="merchant_email" placeholder="date.transaction@easebuzz.in" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                        </div>
        
                        <div class="form-field">
                            <label for="start_date">Start Date<sup>*</sup></label>
                            <input id="start_date" name="start_date" placeholder="DD-MM-YYYY" required>
                        </div>
                        <div class="form-field">
                            <label for="end_date">End Date<sup>*</sup></label>
                            <input id="end_date" name="end_date" placeholder="DD-MM-YYYY" required>
                        </div>
                    </div>
                    
                    <div class="btn-submit">
                        <button type="submit">Submit</button>  
                    </div> 
                </div>           
            </form>
        </div>

        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
        <script src="../assets/js/custom_javascript.js"></script>
        <script src="../assets/js/form-validation.js"></script>
    </body>
</html>
